.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 400px;
  border-radius: 68px;
  background: linear-gradient(145deg, #4bd1db, #59f8ff);
  box-shadow: 5px 5px 0px #40b3bb, -5px -5px 0px #66ffff;
  margin: 30px;
}

.container .card .box {

  background: blanchedalmond;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.container .card .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.container .card .box:hover.content {
  padding: 20px;
  text-align: center;
}


